In [8]:
!pip install scikit-learn
!pip install pandas
!pip install matplotlib
!pip install numpy
!pip install seaborn

Requirement already satisfied: scikit-learn in c:\users\valer\anaconda3\lib\site-packages (0.23.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\valer\anaconda3\lib\site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\valer\anaconda3\lib\site-packages (from scikit-learn) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\valer\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\valer\anaconda3\lib\site-packages (from scikit-learn) (1.19.2)
Requirement already satisfied: pandas in c:\users\valer\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\valer\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\valer\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\valer\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\valer\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib in c:\users\valer\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: numpy>=1.15 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in c:\users\valer\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: numpy in c:\users\valer\anaconda3\lib\site-packages (1.19.2)
Requirement already satisfied: seaborn in c:\users\valer\anaconda3\lib\site-packages (0.11.0)
Requirement already satisfied: numpy>=1.15 in c:\users\valer\anaconda3\lib\site-packages (from seaborn) (1.19.2)
Requirement already satisfied: scipy>=1.0 in c:\users\valer\anaconda3\lib\site-packages (from seaborn) (1.5.2)
Requirement already satisfied: matplotlib>=2.2 in c:\users\valer\anaconda3\lib\site-packages (from seaborn) (3.3.2)
Requirement already satisfied: pandas>=0.23 in c:\users\valer\anaconda3\lib\site-packages (from seaborn) (1.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\valer\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\valer\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\valer\anaconda3\lib\site-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

In [9]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [13]:
df=pd.read_csv('Placement_Data_Full_Class.train.csv', sep=',')
df.head()   #una stampa solo per conferma

,status,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,salary
0,Not Placed,M,52.0,Central,62.0,Central,Commerce,54.0,Comm&Mgmt,No,72.00,Mkt&HR,55.41,NaN
1,Placed,M,70.0,Central,63.0,Others,Science,70.0,Sci&Tech,Yes,55.00,Mkt&Fin,62.00,300000.0
2,Placed,M,73.0,Central,78.0,Others,Commerce,65.0,Comm&Mgmt,Yes,95.46,Mkt&Fin,62.16,420000.0
3,Placed,M,67.0,Others,63.0,Central,Commerce,72.0,Comm&Mgmt,No,56.00,Mkt&HR,60.41,225000.0
4,Placed,M,80.6,Others,82.0,Others,Commerce,77.6,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,400000.0

### Vado ad eseguire lo split dei dati

In [14]:
from sklearn.model_selection import train_test_split

train,test = train_test_split(pd.read_csv('Placement_Data_Full_Class.train.csv', sep=','), test_size=0.23, random_state=42) #Prendo il file iniziale perch√® su df ci ho lavorato fino ad ora

train.to_csv('train.csv',index=False)
test.to_csv('test.csv',index=False)